---
import { Icon } from 'astro-icon/components'
import Contact from '../share/Contact.astro'
---

<div
	class='relative h-fit rounded bg-white before:absolute before:left-0 before:top-0 before:-z-10 before:h-full before:w-full before:bg-gradient-to-r before:from-accent-one-500 before:to-accent-two-500 before:blur-sm lg:sticky lg:top-12'
>
	<div
		class='relative flex h-full w-full flex-row items-center justify-between gap-5 rounded bg-white p-10 text-black lg:flex-col'
	>
		<div class='flex flex-col items-center gap-2'>
			<img
				class='h-[150px] w-[150px] min-w-[150px] border-2 border-accent-two-50'
				src='./images/avatar.jpg'
				alt='Profile Picture'
			/>
			<div
				class='flex cursor-pointer flex-row items-center gap-2 bg-gradient-to-br from-fuchsia-200 to-cyan-100 p-1 text-xs font-semibold shadow-md hover:bg-gradient-to-br hover:from-accent-one hover:to-accent-two hover:text-white'
				id='share'
			>
				<Icon name='mdi:account-card-details' size={18} />
				Digital Card
			</div>
		</div>
		<div class='flex flex-col gap-2'>
			<p class='text-4xl font-semibold text-black'>Dan Tran</p>
			<div class='flex flex-col gap-2 lg:items-center'>
				<p class='role'>Software Developer</p>
				<p class='role'>Web Developer</p>
			</div>
		</div>
		<div
			class='h-full w-[2px] bg-gradient-to-r from-white via-accent-two to-white lg:h-[2px] lg:w-full'
		>
		</div>
		<div class='hidden flex-col gap-4 sm:flex'>
			<!-- Contacts -->
			<Contact title='Email' icon='mdi:email'>
				<a href='mailto:dan.k.tran.w@gmail.com'> dan.k.tran.w@gmail.com </a>
			</Contact>
			<Contact title='GitHub' icon='mdi:github'>
				<a href='https://github.com/autumnssuns' target='_blank'> autumnssuns </a>
			</Contact>
			<Contact title='Linked In' icon='mdi:linkedin'>
				<a href='https://www.linkedin.com/in/dan-k-tran' target='_blank'> Dan Tran </a>
			</Contact>
			<Contact title='Location' icon='mdi:map-marker'> Brisbane, Queensland, Australia </Contact>
		</div>
	</div>
</div>

<style>
	.icon {
		@apply bg-white text-blue-950 hover:cursor-pointer hover:bg-blue-400 hover:text-white;
	}

	.role {
		@apply bg-gradient-to-r from-pink-50 to-cyan-50 p-1 shadow;
	}
</style>

<script>
	const share = document.getElementById('share')
	// Open modal dialog
	if (share) {
		share.addEventListener('click', () => {
			const dialog = document.getElementById('modal') as HTMLDialogElement
			// Add "open" property to dialog element
			dialog.showModal()
		})
	}
</script>
