---
import NavLink from "./NavLink.astro"
---

<nav class="flex flex-col sm:flex-row sm:justify-between sm:items-center bg-gradient-to-r from-magenta-50 to-turquoise-50 mt-[-2rem] mr-[-2rem] float-end rounded-tr-3xl rounded-bl-3xl px-12 py-4 gap-12 text-lg">
  <NavLink to="/">About</NavLink>
  <NavLink to="/">Resume</NavLink>
  <NavLink to="/">Porfolio</NavLink>
  <NavLink to="/">Blog</NavLink>
</nav>