---
import NavLink from './NavLink.astro'
---

<nav
	class='flex w-fit flex-col gap-12 rounded px-12 py-4 text-lg sm:flex-row sm:items-center sm:justify-between'
>
	<NavLink to='/'>About</NavLink>
	<NavLink to='/resume'>Resume</NavLink>
	<NavLink to='/portfolio'>Porfolio</NavLink>
	<NavLink to='/blogs/'>Blog</NavLink>
</nav>
