---
interface Props {
	to: string
}
const { to } = Astro.props
---

<div class='flex items-center justify-between no-underline hover:underline sm:w-auto'>
	<a href={to} class='flex items-center no-underline'>
		<slot />
	</a>
</div>
