---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Header from '../components/profile/Header.astro'
import Sidebar from '../components/profile/Sidebar.astro'
import Body from '../components/profile/Body.md'
import Card from '../components/ProfileCard.astro'
const title = 'Dan Tran'
---

<DefaultLayout title={title}>
	<div class='absolute flex w-full flex-col gap-8 px-20 py-12 lg:flex-row'>
		<Sidebar />
		<div
			class='relative flex-1 rounded bg-white shadow before:absolute before:left-0 before:top-0 before:-z-10 before:h-full before:w-full before:bg-gradient-to-l before:from-accent-one-500 before:to-accent-two-500 before:blur-sm'
		>
			<!-- <Header /> -->
			<Body />
		</div>
	</div>
	<dialog
		id='modal'
		class='fixed top-0 rounded shadow-md shadow-black backdrop:bg-gray-500 backdrop:bg-opacity-50'
	>
		<div id='modal-header' class='flex justify-between border-b-2 p-4'>
			<h1 class='text-2xl'>Share My Profile</h1>
			<button class='text-2xl' onclick="document.getElementById('modal').close()">✖</button>
		</div>
		<div id='modal-body' class='flex h-full w-full items-center justify-center p-4'>
			<Card />
		</div>
	</dialog>
</DefaultLayout>

<script>
	const modal = document.getElementById('modal') as HTMLDialogElement
	const body = document.querySelector('body') as HTMLBodyElement
	// Close modal when clicking outside
	body.addEventListener('click', (e) => {
		// Include padding
		if (e.target === modal) {
			modal.close()
		}
	})
</script>
