---
import { Icon } from 'astro-icon/components'
---

<div
	class='inline-flex h-fit w-fit flex-col items-start justify-center gap-2.5 rounded bg-gradient-to-br from-accent-one-400 to-accent-two-400 p-2.5 shadow-md shadow-gray-500'
>
	<div
		class='flex shrink grow basis-0 flex-col items-center justify-between self-stretch rounded bg-white p-2.5 shadow-inner shadow-gray-500'
	>
		<div
			class='inline-flex shrink grow basis-0 items-start justify-start gap-5 self-stretch p-[5px]'
		>
			<div class='inline-flex flex-col items-start justify-start gap-2.5 self-stretch'>
				<div
					class='flex flex-col items-center justify-center gap-2.5 bg-gradient-to-tl from-accent-one-100 to-accent-two-100 p-2.5 shadow'
				>
					<img class='h-20 w-20 border-2 border-white' src='./images/avatar.jpg' />
					<div class='flex flex-col items-start justify-start gap-2.5'>
						<div class='text-[28px] font-black text-black'>Dan Tran</div>
					</div>
				</div>
				<div class='inline-flex items-start justify-start gap-[5px] self-stretch'>
					<div class='inline-flex shrink grow basis-0 flex-col items-start justify-start gap-[5px]'>
						<div class='text-xs font-medium text-black'>Web Developer</div>
						<div class='text-xs font-medium text-black'>Software Developer</div>
					</div>
				</div>
			</div>
			<div
				class='inline-flex shrink grow basis-0 flex-col items-start justify-start gap-[5px] self-stretch'
			>
				<img class='h-[200px] w-[200px] object-scale-down' src='./images/qrcode.png' />
			</div>
		</div>
	</div>
	<div
		class='inline-flex items-start justify-start gap-5 self-stretch rounded-[5px] bg-white px-2.5 py-[5px] opacity-70 backdrop-blur-sm'
	>
		<div class='flex h-[15px] shrink grow basis-0 items-center justify-between'>
			<div class='flex items-center justify-center gap-1'>
				<Icon name='mdi:email' size={18} />
				<a
					href='mailto:dan.k.tran.w@gmail.com'
					target='_blank'
					class='text-center text-[10px] font-normal text-black underline'>dan.k.tran.w@gmail.com</a
				>
			</div>
			<div class='flex items-center justify-end gap-1'>
				<Icon name='mdi:github' size={18} />
				<a
					href='https://github.com/autumnssuns'
					target='_blank'
					class='text-center text-[10px] font-normal text-black underline'>autumnssuns</a
				>
			</div>
			<div class='flex items-center justify-center gap-[5px]'>
				<Icon name='mdi:linkedin' size={18} />
				<a
					href='https://www.linkedin.com/in/dan-k-tran'
					target='_blank'
					class='text-center text-[10px] font-normal text-black underline'>dan-k-tran</a
				>
			</div>
		</div>
	</div>
</div>
