---
import Navbar from '../components/share/nav/Navbar.astro'
import { Breadcrumbs } from 'astro-breadcrumbs'
import 'astro-breadcrumbs/breadcrumbs.css'
import PlainLayout from './PlainLayout.astro'

type Props = {
	title: string
}
const props = Astro.props
---

<PlainLayout
	class='prose max-w-full p-1 prose-headings:text-accent-one prose-hr:h-[2px] prose-hr:bg-gradient-to-r prose-hr:from-white prose-hr:via-accent-one prose-hr:to-white md:p-2 lg:p-4'
	{...props}
>
	<div class='flex w-full flex-col-reverse justify-between md:flex-row md:items-center'>
		<Breadcrumbs class='md:content-center'>
			<svg
				slot='separator'
				xmlns='http://www.w3.org/2000/svg'
				width='24'
				height='24'
				viewBox='0 0 24 24'
				fill='none'
				stroke='currentColor'
				stroke-width='2'
				stroke-linecap='round'
				stroke-linejoin='round'
				><polyline points='9 18 15 12 9 6'></polyline>
			</svg>
			<svg
				slot='index'
				aria-label='Home Page'
				xmlns='http://www.w3.org/2000/svg'
				width='24'
				height='24'
				viewBox='0 0 24 24'
				fill='none'
				stroke='currentColor'
				stroke-width='2'
				stroke-linecap='round'
				stroke-linejoin='round'
				><path d='m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z'> </path><polyline
					points='9 22 9 12 15 12 15 22'></polyline>
			</svg>
		</Breadcrumbs>
		<Navbar />
	</div>
	<div class='px-8'>
		<slot />
	</div>
</PlainLayout>

<style>
	:root {
		scrollbar-gutter: stable both-edges;
	}
</style>
