---
import { twMerge } from 'tailwind-merge'

interface Props {
	title: string
	class?: string
}

const { title = 'Astro', class: className = '' } = Astro.props
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class={twMerge('relative', className)}>
		<slot />
	</body>
</html>

<style>
	:root {
		scrollbar-gutter: stable both-edges;
	}
</style>
